<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <!-- Main Menu -->
    <menuitem id="menu_social_marketing_root"
              name="C21 Social Marketing"
              web_icon="c21_social_marketing,static/description/icon.png"
              sequence="90"/>

    <!-- Posts Submenu -->
    <menuitem id="menu_social_posts"
              name="Posts"
              parent="menu_social_marketing_root"
              action="action_social_post"
              sequence="10"/>

    <!-- News Submenu -->
    <menuitem id="menu_social_news"
              name="News"
              parent="menu_social_marketing_root"
              action="action_social_news"
              sequence="20"/>

    <!-- Configuration Menu -->
    <menuitem id="menu_social_config"
              name="Configuration"
              parent="menu_social_marketing_root"
              sequence="100"
              groups="base.group_system"/>

    <menuitem id="menu_social_channels"
              name="Channels"
              parent="menu_social_config"
              action="action_social_channel"
              sequence="10"/>

    <menuitem id="menu_social_feeds"
              name="RSS Feeds"
              parent="menu_social_config"
              action="action_social_feed"
              sequence="20"/>

    <menuitem id="menu_social_settings"
              name="API Settings"
              parent="menu_social_config"
              action="action_social_marketing_config"
              sequence="30"/>

</odoo>
