<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <!-- Root Menu -->
    <menuitem id="c21_property_menu_root"
              name="C21 Properties"
              sequence="50"
              web_icon="c21_property_listing,static/description/icon.png"/>

    <!-- Properties Menu -->
    <menuitem id="c21_property_menu_properties"
              name="Properties"
              parent="c21_property_menu_root"
              sequence="10"/>

    <menuitem id="c21_property_menu_all"
              name="All Properties"
              parent="c21_property_menu_properties"
              action="c21_property_listing_action"
              sequence="10"/>

    <menuitem id="c21_property_menu_coworking"
              name="Co-working Spaces"
              parent="c21_property_menu_properties"
              action="c21_property_listing_action_coworking"
              sequence="20"/>

    <menuitem id="c21_property_menu_leasing"
              name="Leasing Properties"
              parent="c21_property_menu_properties"
              action="c21_property_listing_action_leasing"
              sequence="30"/>

    <menuitem id="c21_property_menu_pending"
              name="Pending Approval"
              parent="c21_property_menu_properties"
              action="c21_property_listing_action_pending"
              sequence="40"
              groups="c21_property_listing.group_c21_property_manager"/>

    <menuitem id="c21_property_menu_published"
              name="Published"
              parent="c21_property_menu_properties"
              action="c21_property_listing_action_published"
              sequence="50"/>

    <!-- Operators Menu -->
    <menuitem id="c21_property_menu_operators"
              name="Operators"
              parent="c21_property_menu_root"
              action="c21_property_operator_action"
              sequence="20"/>

    <!-- Configuration Menu -->
    <menuitem id="c21_property_menu_config"
              name="Configuration"
              parent="c21_property_menu_root"
              sequence="90"
              groups="c21_property_listing.group_c21_property_admin"/>

    <menuitem id="c21_property_menu_amenities"
              name="Amenities"
              parent="c21_property_menu_config"
              action="c21_property_amenity_action"
              sequence="10"/>
</odoo>
